body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    background-attachment: fixed;
    background-image: linear-gradient(180deg, rgba(255,103,31,1) 0%, rgba(255,255,255,1) 50%, rgba(4,106,56,1) 100%);

}

.countDown {
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 8rem;
    position: absolute;
    top: 40%;
    -webkit-text-stroke-color: #06038D;
    -webkit-text-stroke-width: 4px;
}
p {
    background-image: url(../public/Flag_of_India.gif);
    background-size: contain;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    justify-content: center;
    text-shadow: 0px 0px 6px ;
}